 @font-face {
  font-family: "Gilroy";
  src: url("../font/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroylight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  position: relative;

  display: inline-block;
  padding: 10px 40px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  cursor: pointer;
}

.btn::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 20%;

  background-color: #f0c52e;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
}


.btn:hover::before,
.btn:focus::before {
  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;


  color: #000000;
  background-color: #f7e296;
  background-clip: content-box;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-bottom: 32px;
  padding: 0 60px;
  padding-top: 33px;
}

.header-top .logo-link {
  position: absolute;
  top: -20px;
  left: 80px;
}

.logo-link {
  line-height: 0;
}

.logo-pic-header {
  fill: #000000;
}

.logo-pic-header:hover {
  opacity: 0.6;
}

.logo-pic-header:active {
  opacity: 0.3;
}

.logo-link:focus .logo-pic-header {
  opacity: 0.6;
}

.search-form {
  font-size: 0;
}

.search-form input::-webkit-input-placeholder {opacity: 0.3;}
.search-form input::-moz-placeholder          {opacity: 0.3;}
.search-form input:-moz-placeholder           {opacity: 0.3;}
.search-form input:-ms-input-placeholder      {opacity: 0.3;}

.search-form input:hover::-webkit-input-placeholder {opacity: 0.6;}
.search-form input:hover::-moz-placeholder          {opacity: 0.6;}
.search-form input:hover:-moz-placeholder           {opacity: 0.6;}
.search-form input:hover:-ms-input-placeholder      {opacity: 0.6;}

.search-form input:focus::-webkit-input-placeholder {color: transparent; }
.search-form input:focus::-moz-placeholder          {color: transparent; }
.search-form input:focus:-moz-placeholder           {color: transparent; }
.search-form input:focus:-ms-input-placeholder      {color: transparent; }

.search-form input,
.search-form button {
  padding: 6px 0;

  font: inherit;
  font-size: 15px;
  line-height: 36px;
  color: #000000;

  border: none;
  outline: 0;
}

.search-form input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 355px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: transparent;
}

.icon-search {
  background-image: url("../img/svg-icons/search.svg");
  background-repeat: no-repeat;
  background-position: 4px center;
}

.search-form input[type="submit"] {
  display: none;
  width: 85px;

  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 2px #000000;
          box-shadow: inset 0 0 0 2px #000000;
  cursor: pointer;
}

.search-form input[type="submit"]:hover,
.search-form input[type="submit"]:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-form input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-form input[type="search"]:focus {
  -webkit-box-shadow: inset 0 -2px 0 0 #000000;
          box-shadow: inset 0 -2px 0 0 #000000;
}

.search-form input[type=submit]:active,
.search-form input[type="search"]:focus ~ input[type="submit"] {
  display: inline-block;
  vertical-align: top;
}



/*----menu----*/
.page-header ul,
.page-footer ul  {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}

.user-menu-item {
  width: 100px;
  margin-left: 20px;
  text-align: right;
}

.user-menu-item-login {
  width: 180px;
  margin: auto;
  text-align: left;
}

.user-menu-item-logout {
  text-align: left;
}

.user-menu a,
.sub-menu-list a {
  line-height: 36px;
  color: #000000;
}

.user-menu a:hover,
.user-menu a:focus,
.main-navigation a:hover,
.main-navigation a:focus  {
  opacity: 0.6;
}

.user-menu a:active,
.main-navigation a:active {
  opacity: 0.3;
}

.user-menu-link {
  position: relative;
  padding-left: 30px;
}

.user-menu-link::before {
  content: "";

  position: absolute;
  left: 5px;
  bottom: 4px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-menu-item-login {
  max-width: 160px;

  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.page-header .logout-link {
  padding-left: 0;

  opacity: 0.3;
}

.page-header .logout-link:hover,
.page-header .logout-link:focus  {
  opacity: 0.6;
}

.page-header .logout-link:active {
  opacity: 1;
}

.login-link::before {
  width: 13px;
  height: 12px;

  background-image: url("../img/svg-icons/user.svg");
}

.compare-link::before {
  width: 10px;
  height: 10px;

  background-image: url("../img/svg-icons/compare.svg");
}

.cart-link::before {
  width: 12px;
  height: 12px;

  background-image: url("../img/svg-icons/cart.svg");
}

/*----main-nav----*/

.services-menu a,
.nav-catalog-item-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  padding: 0 60px;
  padding-bottom: 50px;
}

.nav-catalog-item {
  position: relative;
}

.nav-catalog-item-link {
  position: relative;

  max-width: 220px;
  padding-right: 36px;
  line-height: 1.2;
}

.nav-catalog-item-link::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 4px;

  width: 16px;
  height: 16px;

  background-image: url("../img/svg-icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sub-menu-wrapper {
  position: absolute;

  left: -60px;
  z-index: 10;

  display: none;
  width: 1100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;

  background-color: #f7e296;
}

ul.sub-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 640px;
}

.nav-catalog-item:hover .sub-menu-wrapper {
  display: block;
}

.sub-menu-item {
  width: 200px;
}

.sub-menu-item:nth-child(3n + 1) {
  width: 240px;
}

.sub-menu-item:last-child {
  width: 100%;
}

.services-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-menu-header {
  width: 500px;
}

.services-menu-item {
  width: 160px;
}

.services-menu-item-contacts {
  margin-left: auto;
  text-align: right;
}

/*--slider--*/
.promo-slider {
  position: relative;

  width: 1160px;
  height: 500px;
  margin-bottom: 94px;
}

.promo-slider::before {
  content: "";

  position: absolute;
  z-index: -10;

  width: 1160px;
  height: 100%;

  background-image: -webkit-linear-gradient(#f7e296 115px, #ffffff 115px);

  background-image: -o-linear-gradient(#f7e296 115px, #ffffff 115px);

  background-image: linear-gradient(#f7e296 115px, #ffffff 115px);
}

.slider-wrapper {
  position: relative;
}

.promo-slider input {
  display: none;
}

.slider-controls {
  position: absolute;
  top: 315px;
  right: 80px;
  z-index: 5;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 180px;
  height: 40px;
}

.slider-controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 20px;

  background-color: #ffffff;
  border-radius: 50%;
  vertical-align: top;

  -webkit-box-shadow: inset 0 0 0 1px #000000;

          box-shadow: inset 0 0 0 1px #000000;
  cursor: pointer;
}

#slide-1:checked ~ .slider-wrapper label[for="slide-1"],
#slide-2:checked ~ .slider-wrapper label[for="slide-2"],
#slide-3:checked ~ .slider-wrapper label[for="slide-3"] {
  -webkit-box-shadow: inset 0 0 0 1px #000000,
              inset 0 0 0 4px #ffffff,
              inset 0 0 0 5px #000000;

          box-shadow: inset 0 0 0 1px #000000,
              inset 0 0 0 4px #ffffff,
              inset 0 0 0 5px #000000;
}

.slider-slides {
  position: relative;
}

.slider-slides p {
  margin: 0;
}

.slide {
  display: none;
}

#slide-1:checked ~ .slider-wrapper .slider-slides .slide-1,
#slide-2:checked ~ .slider-wrapper .slider-slides .slide-2,
#slide-3:checked ~ .slider-wrapper .slider-slides .slide-3 {
  display: block;
}

.slide::before {
  content: "";

  position: absolute;
  top: -10px;
  right: 50px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  color: #ffffff;
}

.slide-1::before {
  content: "01";
}

.slide-2::before {
  content: "02";
}

.slide-3::before {
  content: "03";
}

.slide figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
/*
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
*/
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}

.slide img {
  margin-bottom: -4px;
}

.slider-pic {
  width: 560px;
  text-align: center;
}

.slider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 560px;
  margin-top: 80px;
  margin-left: auto;
}

.slider-text p {
  margin: 0;
}

p.slider-slogan {
  position: relative;
  margin-bottom: 22px;
}

.slider-slogan::before {
  content: "";

  position: absolute;
  top: -38px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider-slogan b {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

p.slider-description {
  padding-right: 80px;
  margin-bottom: 40px;

  line-height: 30px;
}

table.product-specification {
  width: 100%;
  margin-top: 55px;
  border-collapse: collapse;
}

.product-specification .param-specification {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
}

.product-specification .type-specification {
  font-size: 13px;
  line-height: 20px;
}

.product-specification tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.param-specification {
  margin-bottom: 10px;
}

.param-specification td,
.type-specification td   {
  padding: 0;
  padding-right: 80px;
}

.param-specification td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 200;
  color: #000000;
}

.type-specification td {
  font-size: 13px;
}

/*--popular--*/
.popular {
  margin-bottom: 50px;
}

.popular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-item {
  width: 160px;
  margin-right: 40px;
}

.popular-item:last-child {
  margin-right: 0;
}

.popular-link {
  position: relative;
  display: block;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  outline: 0;
}


.popular-link::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 35px;

  background-color: #f7e296;
  background-repeat: no-repeat;
}

.popular-link:hover::before,
.popular-link:focus::before  {
  background-color: #f0c52e;
}

.popular-link svg {
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popular-link:active span,
.popular-link:active svg {
  opacity: 0.3;
}


/*--services--*/
.services {
  position: relative;

  margin-bottom: 94px;
}

.services::before {
  content: "";

  position: absolute;
  z-index: -10;

  width: 100%;
  height: 100%;

  background-image: -webkit-linear-gradient(#ffffff 135px, #e5e5e5 135px);

  background-image: -o-linear-gradient(#ffffff 135px, #e5e5e5 135px);

  background-image: linear-gradient(#ffffff 135px, #e5e5e5 135px);
}

.services input[type="radio"] {
  display: none;
}

.services-list-controls {
  position: relative;

  width: 280px;
  padding-top: 115px;
  padding-bottom: 110px;
}

.services-list-controls .btn {
  display: block;
  width: 160px;
  margin-bottom: 25px;
  padding-left: 0;
  padding-right: 0;

  text-align: center;

  -webkit-transition-duration: 0.5s;

       -o-transition-duration: 0.5s;

          transition-duration: 0.5s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

#btn-1:checked ~ .services-list-controls .btn[for="btn-1"],
#btn-2:checked ~ .services-list-controls .btn[for="btn-2"],
#btn-3:checked ~ .services-list-controls .btn[for="btn-3"]                    {
  padding-right: 120px;

  color: #f7e184;
  background-color: #000000;
}

.services-list-controls::after {
  content: "";

  position: absolute;
  top: 35px;
  right: 0;

  width: 7px;
  height: 320px;
  background-color: #000000;
}

.serices-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-content {
  width: 460px;
  padding-top: 105px;
  padding-right: 300px;
}

.section-title {
  margin: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: #000000;
}

.services-content .section-title {
  margin-bottom: 30px;
}

.services-content p {
  margin: 0;

  line-height: 30px;
  letter-spacing: 0.01em;
}

.services-desc {
  position: relative;
}

.services-delivery,
.services-credit,
.services-guarantee {
  display: none;
}

.services-delivery::before {
  content: "";

  position: absolute;
  top: 50%;
  right: -234px;

  width: 136px;
  height: 164px;

  background-image: url("../img/svg-icons/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);
}

.services-guarantee::before {
  content: "";

  position: absolute;
  top: 50%;
  right: -253px;

  width: 171px;
  height: 195px;

  background-image: url("../img/svg-icons/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);
}

.services-credit::before {
  content: "";

  position: absolute;
  top: 50%;
  right: -253px;

  width: 156px;
  height: 188px;

  background-image: url("../img/svg-icons/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);
}

#btn-1:checked ~ .services-content .services-delivery {
  display: block;
}

#btn-2:checked ~ .services-content .services-guarantee {
  display: block;
}

#btn-3:checked ~ .services-content .services-credit {
  display: block;
}

/*--brands--*/
.brands {
  margin-bottom: 94px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-item {
  width: 260px;
}

.brands-link {
  position: relative;
  display: block;
}

.brands-link::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 260px;
  height: 100px;

  background-repeat: no-repeat;
}

.brands-link:hover::before,
.brands-link:focus::before  {
  z-index: 2;
}

.brands-link-1::before {
  background-image: url("../img/brand-1.png");
}

.brands-link-2::before {
  background-image: url("../img/brand-2.png");
}

.brands-link-3::before {
  background-image: url("../img/brand-3.png");
}

.brands-link-4::before {
  background-image: url("../img/brand-4.png");
}



/*--information--*/
.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information,
.contacts     {
  position: relative;

  width: 560px;
  margin-bottom: 82px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.information {
  padding-right: 100px;
}

.information h2,
.contacts h2     {
  padding-top: 45px;
  margin-bottom: 40px;
}

.information h2::before,
.contacts h2::before     {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.information-text {
  margin-bottom: 40px;
}

.information-text p,
.contacts p          {
  margin: 0;
  margin-bottom: 25px;

  line-height: 30px;
}

.contacts p {
  margin-bottom: 37px;
}

.information-list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
}

.information-list li {
  position: relative;
  padding-left: 35px;
}

.information-list li::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 4px;
  height: 4px;

  border: 2px solid #e6e6e6;
  border-radius: 50%;
  background-color: #ffffff;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);
}

.btn-info {
  width: 260px;
  padding: 10px 0;
  text-align: center;
}

.map {
  margin-bottom: 63px;
}

.map-link {
  display: block;
}
/*--footer--*/
.page-footer {
  min-width: 1200px;
  padding: 65px 0;

  color: #ffffff;
  background-color: #464646;
}

.page-footer-top {
  margin-bottom: 65px;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-row:first-child {
  margin-bottom: 38px;
}

.logo-pic-footer {
  fill: #ffc600;
}

.logo-pic-footer:hover {
  fill: #c39b22;
}

.logo-link:focus .logo-pic-footer {
  fill: #c39b22;
}

.logo-pic-footer:active {
  fill: #8d7536;
}

.page-footer a {
  color: #ffffff;
}

.page-footer a:hover,
.page-footer a:focus {
  opacity: 0.6;
}

.page-footer a:active {
  opacity: 0.3;
}

.page-footer .user-menu-list {
  width: 326px;
}

.page-footer .user-menu-item {
  margin: 0;
  width: auto;
}

.page-footer .user-menu-item-logout {
  display: none;
}

.page-footer .login-link::before,
.page-footer .logout-link::before {
  width: 13px;
  height: 12px;

  background-image: url("../img/svg-icons/user-yellow.svg");
}

.page-footer .compare-link::before {
  width: 10px;
  height: 10px;

  background-image: url("../img/svg-icons/compare-yellow.svg");
}

.page-footer .cart-link::before {
  width: 12px;
  height: 12px;

  background-image: url("../img/svg-icons/cart-yellow.svg");
}

.page-footer-menu .services-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-footer-menu .services-menu-item {
  width: auto;
  margin-right: 38px;
}

.page-footer-links {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer-links::before {
  content: "";

  position: absolute;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.page-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 160px;
  margin: 0 auto;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.social-link-fb {
  background-image: url("../img/svg-icons/fb.svg");
}

.social-link-in {
  background-image: url("../img/svg-icons/instagram.svg");
}

.social-link-tw {
  background-image: url("../img/svg-icons/twitter.svg");
}

.social-link:hover,
.social-link:focus  {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

.academy-link {
  display: block;
  width: 27px;
  height: 34px;

  background-image: url("../img/svg-icons/logo-html.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.academy-link:hover,
.academy-link:focus  {
  opacity: 0.6;
}

.academy-link:active {
  opacity: 0.3;
}

/*--modal--*/
.modal {
  position: fixed;
  z-index: 100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 960px;
}


.modal {
  display: none;

  top: 100px;
  left: 50%;


  width: 960px;
  margin-left: -480px;
}


.modal p {
  margin: 0;
}

.modal-feedback {
  padding-top: 95px;
  padding-right: 100px;
  padding-bottom: 80px;
  padding-left: 100px;

  background-color: #ffffff;
}

.modal-show {
  display: block;

  -webkit-animation-name: bounce;

          animation-name: bounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-map img {
  display: block;
}


.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 1000;


  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: #f7e296;
  border: 0;
  border-radius: 50%;

  cursor: pointer;
  outline: 0;
}

.modal-close::before,
.modal-close::after   {
  content: "";

  position: absolute;
  top: 50%;
  left: 13px;

  width: 29px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus  {
  background-color: #f0c52e;
}

.modal-close:active  {
  background-color: #faedc0;
}


.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.feedback-form .feedback-item {
  margin: 0;
  margin-bottom: 35px;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.feedback-item label {
  display: block;
  margin-bottom: 8px;
}

.feedback-item input,
.feedback-item textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  padding: 18px 20px;
}

.feedback-item textarea {
  width: 760px;
}

.feedback-item input:invalid,
.feedback-item textarea:invalid {
  background-color: #f6dada;
}

.feedback-item input,
.feedback-item textarea {
  background-color: #f2f2f2;
  border: none;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  background-color: #eaeaea;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  outline: 3px solid #f7e296;
}

.feedback-item label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  color: #000000;
}

/*--inner-page--*/

.inner-page .page-header {
  margin-bottom: 37px;
}

.page-content-header {
  width: 1040px;
  padding: 0 80px;
  padding-top: 32px;
  padding-bottom: 49px;
}

.page-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  padding-right: 40px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 8px;
  right: 18px;

  width: 4px;
  height: 4px;

  border: 1px solid #000000;
  border-bottom: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.breadcrumbs a,
.breadcrumbs-current {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs .breadcrumbs-current::after {
  content: none;
}

/*-----main-catalog----*/
.page-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  min-width: 1200px;
}

.filters {
  width: calc(50% - 252px);

  background-color: #efefef;
}

.filter-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dbdbdb;
}

.filter-wrapper {
  max-width: 200px;
  margin-left: auto;
  padding-right: 68px;
  padding-left: 80px;
}

.filter {
  margin-top: 70px;
}

.filter ul {
  margin: 0;
  margin-top: 12px;
  padding: 0;
}

.block-title {
  width: 200px;
  margin: 0;
  padding: 26px 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  border: none;
}

.filter-name,
.catalog-item-title a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

legend.filter-name {
  width: 100%;
  padding: 0;
  padding-top: 12px;
  border-top: 2px solid #000000;
}

.filter-option {
  list-style: none;
  line-height: 40px;
}

.filter-input:hover,
.filter-input:focus {
  opacity: 0.6;
}

.range-controls {
  position: relative;

  margin-top: 35px;
  margin-bottom: 10px;
}

.range-scale {
  height: 2px;

  background-color: #dbdbdb;
}

.range-bar {
  width: 60%;
  height: 2px;

  background-color: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
}

.range-toggle:active {
  -webkit-box-shadow: 0 0 0 1px #ffffff,
              0 2px 1px 1px rgba(0, 1, 1, 0.2);
          box-shadow: 0 0 0 1px #ffffff,
              0 2px 1px 1px rgba(0, 1, 1, 0.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-min {
  left: 60%;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 200px;
}

.price-min,
.price-max  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-controls label {
  cursor: pointer;
}

.price-controls label,
.input-min-price,
.input-max-price       {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.2);
}

.input-min-price,
.input-max-price  {
  width: 70px;
  margin: 0;
  padding-left: 5px;

  background: none;
  border: none;
}

.filter-input + label {
  position: relative;
  display: inline-block;

  padding-left: 40px;

  vertical-align: top;
  cursor: pointer;
}

.filter-input + label::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 27px;
  height: 23px;

  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.filter-input-checkbox + label::before {
  background-image: url("../img/svg-icons/checkbox-off.svg");
}

.filter-input + label:hover::before,
.filter-input + label:focus::before,
.filter-input:checked + label:hover::before,
.filter-input:checked + label:focus::before  {
  opacity: 0.6;
}

.filter-input-checkbox + label:active::before,
.filter-input-checkbox:checked + label::before {
  background-image: url("../img/svg-icons/checkbox-on.svg");
  opacity: 1;
}

.filter-input-checkbox:checked + label:active::before {
  background-image: url("../img/svg-icons/checkbox-off.svg");
  opacity: 1;
}

.filter-input-radio + label::before {
  width: 26px;
  height: 26px;

  background-image: url("../img/svg-icons/radio-off.svg");
}

.filter-input-radio + label:active::before,
.filter-input-radio:checked + label::before {
  background-image: url("../img/svg-icons/radio-on.svg");
  opacity: 1;
}

.filter-input-radio:checked + label:active::before {
  background-image: url("../img/svg-icons/radio-off.svg");
  opacity: 1;
}

button.btn {
  z-index: 1;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.catalog {
  width: calc(50% + 252px);
}

.catalog-wrapper {
  margin-right: calc(100% - 852px);
  padding-right: 20px;
  padding-left: 72px;
}

.catalog-header {
  min-width: 872px;
}

.catalog-header,
.catalog-footer  {
  background-color: #ebebeb;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort .block-title {
  width: 200px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-item {
  margin-right: 22px;
}

.sort-item a {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus {
  opacity: 0.6;
}

.sort-item a:active,
.sort-item.active a  {
  opacity: 1;
}

.sort-item.sort-arrow-up {
  margin-left: auto;
  margin-right: 19px;
}

.sort-item.sort-arrow-down {
  margin-right: 0;
}

.sort-arrow a {
  display: inline-block;
  width: 11px;
  height: 11px;

  vertical-align: middle;
  background-repeat: no-repeat;
}

.sort-arrow-up a {
  background-image: url("../img/svg-icons/icon-up-dir.svg");
}

.sort-arrow-down a {
  background-image: url("../img/svg-icons/icon-down-dir.svg");
}

/*----catalog-list-----*/

ul.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 760px;
  margin: 0;
  margin-top: 70px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 45px;
}

.caalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item img {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions,
.catalog-item:focus .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item > p {
  margin: 0;
}

.catalog-item-title {
  margin: 0;
  padding: 0;
  width: 260px;
}

.catalog-item-price {
  width: 100px;
  font-size: 16px;
  text-align: right;
}

p.catalog-item-image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-bottom: 34px;
}

.catalog-item-flag {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 360px;
  height: 210px;
  padding-top: 170px;

  background-color: rgba(238, 238, 238, 0.7);
}

.actions .btn {
  margin-bottom: 18px;
}

.bookmark {
  font-size: 13px;
  line-height: 1.2;
  color: #000000;
  opacity: 0.5;
}

.bookmark:hover,
.bookmark:focus {
  opacity: 1;
}

.bookmark:active {
  opacity: 0.2;
}

.catalog-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 760px;
  margin-bottom: 73px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 32px;
}

.pagination-item-last-page {
  margin-right: 0;
}

.pagination-item-prev {
  margin-right: auto;
}

.pagination-item-next {
  margin-right: 0px;
  margin-left: auto;
}

.pagination-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;

  opacity: 0.3;
}

.pagination-item-prev a,
.pagination-item-next a  {
  display: block;
  padding: 26px 30px;
}

.pagination-item a:hover,
.pagination-item a:focus  {
  opacity: 0.6;
}

.pagination-item a:focus {
  opacity: 1;
}
o

.pagination-item-prev a,
.pagination-item-next a,
.pagination-item-current a {
  opacity: 1;
}

.pagination-item-prev a:hover,
.pagination-item-next a:hover,
.pagination-item-prev a:focus,
.pagination-item-next a:focus  {
  background-color: #d9d9d9;
  opacity: 1;
}

.pagination-item-prev a:active,
.pagination-item-next a:active  {
  opacity: 0.3;
}

.page-footer-inner-page .user-menu-item-login {
  display: none;
}

.page-footer-inner-page .user-menu-item-logout {
  display: block;
}

.user-logged {
  display: block;
}
