@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroylight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  outline: 1px solid blue;
}

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 50px 80px;

  color: #000000;
  background-color: #f7e296;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 32px;
}

.header-top .logo-link {
  position: absolute;
  top: -20px;
  left: 80px;
}

.main-navigation {

}

.logo-link {
  line-height: 0;
}

.logo-pic-header {
  fill: #000000;
}

.logo-pic-header:hover {
  opacity: 0.6;
}

.logo-pic-header:active {
  opacity: 0.3;
}

.logo-link:focus .logo-pic-header {
  opacity: 0.6;
}

.header-search {

}

.search-form {
  position: relative;
}

.search-form input::-webkit-input-placeholder {opacity: 0.3;}
.search-form input::-moz-placeholder          {opacity: 0.3;}
.search-form input:-moz-placeholder           {opacity: 0.3;}
.search-form input:-ms-input-placeholder      {opacity: 0.3;}

.search-form input:hover::-webkit-input-placeholder {opacity: 0.6;}
.search-form input:hover::-moz-placeholder          {opacity: 0.6;}
.search-form input:hover:-moz-placeholder           {opacity: 0.6;}
.search-form input:hover:-ms-input-placeholder      {opacity: 0.6;}

.search-form input:focus::-webkit-input-placeholder {color: transparent; }
.search-form input:focus::-moz-placeholder          {color: transparent; }
.search-form input:focus:-moz-placeholder           {color: transparent; }
.search-form input:focus:-ms-input-placeholder      {color: transparent; }

.search-form input,
.search-form button {
  padding: 6px 0;

  font: inherit;
  line-height: 36px;
  color: #000000;

  border: none;
  outline: 0;
}

.search-form input[type="search"] {
  width: 440px;
  padding-right: 85px;
  padding-left: 40px;
  background-color: transparent;
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 85px;

  background-color: transparent;
  box-shadow: inset 0 0 0 2px #000000;
}

.search-form button:hover,
.search-form button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-form input[type="search"]:focus {
  box-shadow: inset 0 -2px 0 0 #000000;
}

.search-form input[type="search"]:focus + button {
  display: inline-block;
  vertical-align: top;
}



/*----menu----*/
.page-header ul,
.page-footer ul  {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu-list {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.user-menu-item {
  width: 100px;
  margin-left: 20px;
  text-align: right;
}

.user-menu-item-enter {
  width: 260px;
  margin: auto;
  text-align: left;
}

.user-menu a,
.main-navigation a {
  line-height: 36px;
  color: #000000;
}

.user-menu a:hover,
.user-menu a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
  opacity: 0.6;
}

.user-menu a:active,
.main-navigation a:active {
  opacity: 0.3;
}

.nav-catalog-item > a,
.services-menu         {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.nav-catalog-menu {
  width: 500px;
}

.nav-catalog-item {
  position: relative;
  line-height: 1.2;
}

ul.sub-menu-list {
  position: absolute;
  top: 0;
  left: -80px;
  display: none;
  width: 1200px;
  margin-top: 54px;
  padding-left: 80px;

  background-color: #f7e296;
}

.sub-menu-item  {

}

.sub-menu-item a {
  line-height: 36px;

}

.services-menu {
  display: flex;
}

.services-menu-header {
  width: 500px;
}

.services-menu-item {
  width: 160px;
}

.services-menu-item-contacts {
  margin-left: auto;
  text-align: right;
}



/*--slider--*/
.promo-slider {
  background-image: linear-gradient(#f7e296 115px, #ffffff 115px);
}

.slider-slogan b {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
}

.btn {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;

  background-color: #f0c52e;
  border: none;
}

.btn:hover,
.btn:focus {

}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.param-specification td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 200;
  color: #000000;
}

.type-specification td {
  font-size: 13px;
}

/*--popular--*/
.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-item {
  width: 160px;
}

.popular-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;

  background-color: #f7e299;
}

.popular-link:hover,
.popular-link:focus,
.popular-link:active {
  background-color: #f0c52e;
}

/*--services--*/
.services {
  color: #464646;
  background-color: #e5e5e5;
}

.services-list-controls label:active {
  color: #f7e184;
  background-color: #000000;
}

.section-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: #000000;
}

/*--brands--*/
.brands-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-item {
  width: 260px;
}

/*--information--*/
.index-columns {
  display: flex;
  justify-content: space-between;
}

.information,
.contacts     {
  width: 560px;
}

.information-list {
  margin: 0;
  list-style: none;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #000000;
}


/*--footer--*/
.page-footer {
  padding: 65px 0;

  color: #ffffff;
  background-color: #464646;
}

.page-footer-top {
  margin-bottom: 65px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-row:first-child {
  margin-bottom: 38px;
}

.logo-pic-footer {
  fill: #ffc600;
}

.logo-pic-footer:hover {
  fill: #c39b22;
}

.logo-link:focus .logo-pic-footer {
  fill: #c39b22;
}

.logo-pic-footer:active {
  fill: #8d7536;
}

.page-footer a {
  color: #ffffff;
}

.page-footer a:hover,
.page-footer a:focus {
  opacity: 0.6;
}

.page-footer a:active {
  opacity: 0.3;
}

.page-footer .user-menu-list {
  width: 326px;
}

.page-footer .user-menu-item {
  margin: 0;
  width: auto;
}

.page-footer-menu .services-menu {
  justify-content: space-between;
}

.page-footer-menu .services-menu-item {
  width: auto;
  margin-right: 38px;
}

.page-footer-links {
  display: flex;
  justify-content: space-between;
  padding-left: 500px;
}

.page-footer-social {
/*  width: 160px;-ширина блока с иконками*/
}

.social-link {
  opacity: 0.3;
}

.social-link:hover,
.social-link:focus  {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

/*--modal--*/
.feedback-item input:invalid,
.feedback-item textarea:invalid {
  background-color: #f6dada;
}

.feedback-item input,
.feedback-item textarea {
  background-color: #f2f2f2;
  border: none;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  background-color: #eaeaea;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  font-size: 14px;
  border: 3px solid #f0c52e;
  outline: none;
}

.feedback-item label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  color: #000000;
}

/*--inner-page--*/
.inner-page .page-header {
  margin-bottom: 37px;
}

.page-content-header {
  width: 1200px;
  padding: 0 80px;
}

.page-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 49px;
  padding: 0;

  list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  margin-right: 39px;

  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

/*-----main-catalog----*/
.page-content-wrapper {
  display: flex;
}

.filters {
  width: 32%;

  background-color: #efefef;
}

.catalog {
  width: 68%;
}

.filter fieldset {
  border: none;
}

.filter legend,
.catalog-item-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.filter-option {
  list-style: none;
  line-height: 40px;
}

.filter-input:hover,
.filter-input:focus {
  opacity: 0.6;
}

.catalog-header,
.catalog-footer  {
  background-color: #ebebeb;
}

.block-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
}

.sort-list {
  list-style: none;
}

.sort-item a {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus {
  opacity: 0.6;
}

.sort-item a:active {
  opacity: 1;
}

.catalog-list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  list-style: none;
}

.catalog-item-price {
  font-size: 16px;
}

.bookmark {
  font-size: 13px;
  line-height: 36px;
  color: #000000;
  opacity: 0.5;
}

.bookmark:hover,
.bookmark:focus, {
  opacity: 1;
}

.bookmark:active {
  opacity: 0.2;
}

.catalog-footer {
  display: flex;
  align-items: center;
  min-height: 70px;
  margin-bottom: 73px;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  padding: 0 30px;

  list-style: none;
}

.pagination-item {
  margin-right: 32px;
}

.pagination-item-prev {
  margin-right: auto;
}

.pagination-item-next {
  margin-right: 0px;
  margin-left: auto;
}

.pagination-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;

  opacity: 0.3;
}

.pagination-item a:hover,
.pagination-item a:focus  {
  opacity: 0.6;
}

.pagination-item a:focus {
  opacity: 1;
}

.pagination-item-current a,
.pagination-item-prev a,
.pagination-item-next a     {
  opacity: 1;
}

.pagination-item-prev a:hover,
.pagination-item-next a:hover,
.pagination-item-prev a:focus,
.pagination-item-next a:focus  {
  background-color: #d9d9d9;
}

.pagination-item-prev a:active,
.pagination-item-next a:active  {
  opacity: 0.3;
}


/*----net----*/
.page-footer-top > *,
.sub-menu-list > *,
.index-columns > * {
  outline: 3px solid green;
}

.catalog,
.filters,
.brands-item,
.popular-item,
.sub-menu-item > *,
.user-menu-list > *,
.main-navigati > * {
  outline: 3px solid red;
}

.page-content-wrapper,
.footer-row > * {
  outline: 3px solid blue;
}
/*----catalog-item----

ul.catalog-list{
  width: 760px;
  margin: 0;

  list-style: none;
}

li.catalog-item > * {
  box-shadow: 0 0 0 1px blue;
}

.catalog-item {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 360px;
}

.catalog-item > p {
  margin: 0;
}

.catalog-item-title {
  margin: 0;
  width: 260px;
}

.catalog-item-price {
  width: 100px;
}


p.catalog-item-image {
  order: -1;
}

.catalog-item-flag {
  position: absolute;
  top: 0;
  right: 0;
}
--*/
