body {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
}

.page-title {
  font-size: 47px;
  font-weight: bold;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.section-title {
  font-size: 47px;
  font-weight: bold;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.block-title {
  font-size: 16px;
  font-weight: bold;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
}

.logo-pic-header {
  fill: #000000;
}

.logo-pic-footer {
  fill: #ffc600;
}

.brands-pic-grey {
  display: none;
}














