 @font-face {
  font-family: "Gilroy";
  src: url("../font/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroylight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

  outline: 1px solid blue;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 40px;


  color: #000000;
  background-color: #f7e296;
  background-clip: content-box;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 32px;
  padding: 0 60px;
  padding-top: 50px;
}

.header-top .logo-link {
  position: absolute;
  top: -20px;
  left: 80px;
}

.logo-link {
  line-height: 0;
}

.logo-pic-header {
  fill: #000000;
}

.logo-pic-header:hover {
  opacity: 0.6;
}

.logo-pic-header:active {
  opacity: 0.3;
}

.logo-link:focus .logo-pic-header {
  opacity: 0.6;
}

.header-search {

}

.search-form {
  position: relative;
}

.search-form input::-webkit-input-placeholder {opacity: 0.3;}
.search-form input::-moz-placeholder          {opacity: 0.3;}
.search-form input:-moz-placeholder           {opacity: 0.3;}
.search-form input:-ms-input-placeholder      {opacity: 0.3;}

.search-form input:hover::-webkit-input-placeholder {opacity: 0.6;}
.search-form input:hover::-moz-placeholder          {opacity: 0.6;}
.search-form input:hover:-moz-placeholder           {opacity: 0.6;}
.search-form input:hover:-ms-input-placeholder      {opacity: 0.6;}

.search-form input:focus::-webkit-input-placeholder {color: transparent; }
.search-form input:focus::-moz-placeholder          {color: transparent; }
.search-form input:focus:-moz-placeholder           {color: transparent; }
.search-form input:focus:-ms-input-placeholder      {color: transparent; }

.search-form input,
.search-form button {
  padding: 6px 0;

  font: inherit;
  line-height: 36px;
  color: #000000;

  border: none;
  outline: 0;
}

.search-form input[type="search"] {
  width: 440px;
  padding-right: 85px;
  padding-left: 40px;
  background-color: transparent;
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 85px;

  background-color: transparent;
  box-shadow: inset 0 0 0 2px #000000;
}

.search-form button:hover,
.search-form button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-form input[type="search"]:focus {
  box-shadow: inset 0 -2px 0 0 #000000;
}

.search-form input[type="search"]:focus + button {
  display: inline-block;
  vertical-align: top;
}



/*----menu----*/
.page-header ul,
.page-footer ul  {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu-list {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.user-menu-item {
  width: 100px;
  margin-left: 20px;
  text-align: right;
}

.user-menu-item-enter {
  width: 260px;
  margin: auto;
  text-align: left;
}

.user-menu a,
.main-navigation a {
  line-height: 36px;
  color: #000000;
}

.user-menu a:hover,
.user-menu a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
  opacity: 0.6;
}

.user-menu a:active,
.main-navigation a:active {
  opacity: 0.3;
}

.nav-catalog-item > a,
.services-menu         {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-navigation {
  display: flex;
  justify-content: space-between;

  padding: 0 60px;
  padding-bottom: 50px;
}

.nav-catalog-menu {
  width: 500px;
}

.nav-catalog-item {
  position: relative;
  line-height: 1.2;
}

ul.sub-menu-list {
  position: absolute;
  top: 0;
  left: -80px;
  display: none;
  width: 1200px;
  margin-top: 54px;
  padding-left: 80px;

  background-color: #f7e296;
}

.sub-menu-item  {

}

.sub-menu-item a {
  line-height: 36px;

}

.services-menu {
  display: flex;
}

.services-menu-header {
  width: 500px;
}

.services-menu-item {
  width: 160px;
}

.services-menu-item-contacts {
  margin-left: auto;
  text-align: right;
}



/*--slider--*/
.promo-slider {
  background-image: linear-gradient(#f7e296 115px, #ffffff 115px);
  background-clip: content-box;
}

.slider-slogan b {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 40px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 20%;
  background-color: #f0c52e;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;

  transition-duration: 0.5s;
  transition-property: height;
}


.btn:hover::before,
.btn:focus::before {
  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.param-specification td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 200;
  color: #000000;
}

.type-specification td {
  font-size: 13px;
}

/*--popular--*/
.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-item {
  width: 160px;
}

.popular-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;

  background-color: #f7e299;
}

.popular-link:hover,
.popular-link:focus,
.popular-link:active {
  background-color: #f0c52e;
}

/*--services--*/
.services {
  color: #464646;
  background-color: #e5e5e5;
}

.services-list-controls label:active {
  color: #f7e184;
  background-color: #000000;
}

.section-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: #000000;
}

/*--brands--*/
.brands-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-item {
  width: 260px;
}

/*--information--*/
.index-columns {
  display: flex;
  justify-content: space-between;
}

.information,
.contacts     {
  width: 560px;
}

.information-list {
  margin: 0;
  list-style: none;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #000000;
}


/*--footer--*/
.page-footer {
  min-width: 1200px;
  padding: 65px 0;

  color: #ffffff;
  background-color: #464646;
}

.page-footer-top {
  margin-bottom: 65px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-row:first-child {
  margin-bottom: 38px;
}

.logo-pic-footer {
  fill: #ffc600;
}

.logo-pic-footer:hover {
  fill: #c39b22;
}

.logo-link:focus .logo-pic-footer {
  fill: #c39b22;
}

.logo-pic-footer:active {
  fill: #8d7536;
}

.page-footer a {
  color: #ffffff;
}

.page-footer a:hover,
.page-footer a:focus {
  opacity: 0.6;
}

.page-footer a:active {
  opacity: 0.3;
}

.page-footer .user-menu-list {
  width: 326px;
}

.page-footer .user-menu-item {
  margin: 0;
  width: auto;
}

.page-footer .user-menu-link {
  position: relative;
  padding-left: 35px;
}

.user-menu-link::before {
  content: "";

  position: absolute;
  top: 0;
  left: 8px;

  width: 13px;
  height: 13px;

  background-image: url("../img/svg-icons/user-yellow.svg");
}

.page-footer-menu .services-menu {
  justify-content: space-between;
}

.page-footer-menu .services-menu-item {
  width: auto;
  margin-right: 38px;
}

.page-footer-links {
  display: flex;
  justify-content: space-between;
  padding-left: 500px;
}

.page-footer-social {
/*  width: 160px;-ширина блока с иконками*/
}

.social-link {
  opacity: 0.3;
}

.social-link:hover,
.social-link:focus  {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

/*--modal--*/
.feedback-item input:invalid,
.feedback-item textarea:invalid {
  background-color: #f6dada;
}

.feedback-item input,
.feedback-item textarea {
  background-color: #f2f2f2;
  border: none;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  background-color: #eaeaea;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  font-size: 14px;
  border: 3px solid #f0c52e;
  outline: none;
}

.feedback-item label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  color: #000000;
}

/*--inner-page--*/


.inner-page .page-header {
  margin-bottom: 37px;
}

.page-content-header {
  width: 1040px;
  padding: 0 80px;
  padding-bottom: 49px;
}

.page-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  padding-right: 40px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 8px;
  right: 18px;

  width: 4px;
  height: 4px;

  border: 1px solid #000000;
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
}

.breadcrumbs a,
.breadcrumbs-current {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs .breadcrumbs-current::after {
  content: none;
}

/*-----main-catalog----*/
.page-content-wrapper {
  display: flex;
  justify-content: center;
}

.filters {
  width: calc(50% - 252px);

  background-color: #efefef;
}

.filter-header {
  display: flex;
  background-color: #dbdbdb;
}

.filter-wrapper {
  width: 200px;
  margin-left: auto;
  padding-right: 68px;
  padding-left: 80px;
  outline: 1px solid yellow;
}

.filter {
  margin-top: 70px;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.block-title {
  width: 200px;
  margin: 0;
  padding: 26px 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
}

.filter fieldset {
  /* margin: 0; */
  margin-bottom: 38px;
  padding: 0;

  border: none;
}

.filter-name,
.catalog-item-title a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.filter-name {
  width: 100%;
  padding-top: 15px;
  border-top: 2px solid #000000;
}

.filter-option {
  list-style: none;
  line-height: 40px;
}

.filter-input:hover,
.filter-input:focus {
  opacity: 0.6;
}

button.btn {
  z-index: 1;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.catalog {
  width: calc(50% + 252px);
}

.catalog-wrapper {
  margin-right: calc(100% - 852px);
  padding-left: 72px;
  outline: 1px solid;
}

.catalog-header,
.catalog-footer  {
  background-color: #ebebeb;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort .block-title {
  width: 200px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-item {
  margin-right: 30px;
}

.sort-item a {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus {
  opacity: 0.6;
}

.sort-item a:active,
.sort-item.active a  {
  opacity: 1;
}

.sort-item.sort-arrow-up {
  margin-left: auto;
  margin-right: 19px;
}

.sort-item.sort-arrow-down {

}

.sort-arrow a {
  display: inline-block;
  width: 10px;
  height: 11px;

  background-repeat: no-repeat;
}

.sort-arrow-up a {
  background-image: url("../img/svg-icons/icon-up-dir.svg");
}

.sort-arrow-down a {
  background-image: url("../img/svg-icons/icon-down-dir.svg");
}

/*----catalog-list-----*/

ul.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 760px;
  margin: 0;
  margin-top: 70px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 50px;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions,
.catalog-item:focus .actions {
  display: flex;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item > p {
  margin: 0;
}

.catalog-item-title {
  margin: 0;
  padding: 0;
  width: 260px;
}

.catalog-item-price {
  width: 100px;
  font-size: 16px;
  text-align: right;
}

p.catalog-item-image {
  order: -1;
  margin-bottom: 34px;
}

.catalog-item-flag {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 360px;
  height: 210px;
  padding-top: 170px;

  background-color: rgba(238, 238, 238, 0.7);
  box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.35);
}

.actions .btn {
  margin-bottom: 18px;
}

.bookmark {
  font-size: 13px;
  line-height: 1.2;
  color: #000000;
  opacity: 0.5;
}

.bookmark:hover,
.bookmark:focus {
  opacity: 1;
}

.bookmark:active {
  opacity: 0.2;
}

.catalog-footer {
  display: flex;
  align-items: center;

  width: 760px;
  margin-bottom: 73px;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 32px;
}

.pagination-item-prev {
  margin-right: auto;
}

.pagination-item-next {
  margin-right: 0px;
  margin-left: auto;
}

.pagination-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;

  opacity: 0.3;
}

.pagination-item-prev a,
.pagination-item-next a  {
  display: block;
  padding: 26px 30px;
}

.pagination-item a:hover,
.pagination-item a:focus  {
  opacity: 0.6;
}

.pagination-item a:focus {
  opacity: 1;
}


.pagination-item-prev a,
.pagination-item-next a,
.pagination-item-current a {
  opacity: 1;
}

.pagination-item-prev a:hover,
.pagination-item-next a:hover,
.pagination-item-prev a:focus,
.pagination-item-next a:focus  {
  background-color: #d9d9d9;
  opacity: 1;
}

.pagination-item-prev a:active,
.pagination-item-next a:active  {
  opacity: 0.3;
}


/*----net----*/
.page-footer-top > *,
.sub-menu-list > *,
.index-columns > * {
  outline: 3px solid green;
}

.catalog,
.filters,
.brands-item,
.popular-item,
.sub-menu-item > *,
.user-menu-list > *,
.main-navigati > * {
  outline: 3px solid red;
}

.page-content-wrapper,
.footer-row > * {
  outline: 3px solid blue;
}





